doctype html
html
    head
        title #{project} CG
        link(rel='stylesheet', href='/output/styl/cg.css')
    body(class=debug? 'debug':'')
        #character-generator
            include templates/bug
            include templates/lowerThirds
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/cg/cg')
