@require '_variables';

[fg-component=bug]
    #bug-logo
        position absolute
        width 10vw
        left $margin-x
        top $margin-y

    #hashtag, #arbitrary
        color #ffffff
        position absolute
        font-size 2vw
        bottom $margin-y

    #hashtag
        left $margin-x

    #arbitrary
        right $margin-x
