@require '_variables';

[fg-component=bug]
    #bug-logo
        position absolute
        width 10vw
        top $margin-y

    #hashtag, #arbitrary
        color #ffffff
        position absolute
        font-size 2vw
        bottom $margin-y

    #arbitrary
        right 0
