@require '_variables';

[fg-component=bug]
    #bug-logo
        position absolute
        width 10vw
        left $margin-x
        top $margin-y
        opacity 0.55
        transition opacity 0.75s

        &.fg-hide
            opacity 0
