@require '_variables';

[fg-component=lowerThirds]
    #lt1
        position absolute
        margin-left $margin-x
        margin-right $margin-x
        bottom $margin-y
        width $width-x
        padding 1.5vh 1.5vw 1vh 1.5vw
        background #0abef0

        span[fg-trigger-data="lt1_text1"]
            font-size 5vh
            font-weight bold
            color #ffffff
