@require '_variables';

$lt_background = $grey1

[fg-component=lowerThirds]
    width $width-x

    #lt1
        // Metrics
        position absolute
        width $width-x
        padding 1.3vh 2vw 1vh 2vw
        bottom $margin-y

        // Style
        background $lt_background
        border-radius 0.5vw
        box-shadow $shadow_standard

        span[fg-trigger-data="lt1_text1"]
            font-size 5vh
            font-weight bold
            color white
