@require '_variables';

[fg-component=lowerThirds]
    width $width-x

    #lt1
        @extend $grey1-texture-style

        // Metrics
        position absolute
        width $width-x
        padding 1.3vh 2vw 1vh 2vw
        bottom $margin-y

        // Style
        border-radius 0.5vw

        span[fg-trigger-data="lt1_text1"]
            font-size 5vh
            font-weight bold
            vertical-align 25%
