[fg-component="sport"]
    #timer
        @extend $bugsegment
        @extend $grey9-texture-style
        border-radius 0.5vw
        right 0
        width 10vw
        font-size 4.5vh
        text-align center
        font-weight bold
        line-height $bugsegment-height
