include mixins/checkbox
include mixins/textbox
include mixins/copy
include mixins/card
div(fg-panel='bug')
    .container
        .card-columns
            +live-card('showBug')
                .card-body
                    h4.card-title Bug
                    p.card-text
                    | The bug (or DOG) sits in the top left corner of the screen,
                    | providing a logo to visually identify the broadcaster.
                ul.list-group.list-group-flush
                    li.list-group-item: +checkbox('Show bug', 'showBug')
                    li.list-group-item
                        - for (item of Shell.ls('assets/img/bug/*.svg'))
                            +radio(Path.basename(item), 'bugLogo', '/' + item)(rv-disabled='showBug' class='mt-1 mb-1')

            +live-card('showHashtag')
                .card-body
                    h4.card-title Hashtag
                    p.card-text
                    | Show a hashtag in the bottom left corner of the screen.
                ul.list-group.list-group-flush
                    li.list-group-item: +copy('Hashtag', 'hashtag', '#')
                    li.list-group-item: +checkbox('Show hashtag', 'showHashtag')(rv-enabled='hashtag')
            
            +live-card('showArbitrary')
                .card-body
                    h4.card-title Arbitrary text
                    p.card-text
                    | Show an arbitrary string of text in the bottom right
                    | corner of the screen.
                ul.list-group.list-group-flush
                    li.list-group-item: +copy('Text', 'arbitrary')
                    li.list-group-item: +checkbox('Show text', 'showArbitrary')(rv-enabled='arbitrary')
