include mixins/checkbox
include mixins/textbox
include mixins/combo
include mixins/card
div(fg-panel='lowerThirds')
    .container
        .card
            h4.card-header Lower Third 1
                small.text-muted  Single line, 7.5s
            ul.list-group.list-group-flush
                li.list-group-item.py-1(rv-each-queued='queue_lt1'): .input-group.input-group-sm
                    .input-group-prepend: label.input-group-text {queued.lt1_text1}
                    .input-group-append
                        button.btn.btn-danger.mdi.mdi-playlist-play(rv-on-click='triggerQueued' fg-queue-trigger='lt1')
                        button.btn.btn-warning.mdi.mdi-playlist-remove(rv-on-click='delQueued' fg-queue-remove='lt1')
                
            .card-footer.py-1
                .input-group.input-group-sm
                    .input-group-prepend: button.btn.btn-success.mdi.mdi-playlist-plus(fg-queue-add='lt1')
                    +textbox('Text 1', 'currentQueueInput.lt1.lt1_text1')
