div(fg-panel='maintenance')
    .container: .row
        .col-md-4: .card
            .card-block
                h4.card-title Reset
                p.card-text
                    | Resets the character generator if it fails. You should attempt
                    | to remove all graphics from the screen before using.
            ul.list-group.list-group-flush
                li.list-group-item: button.btn.btn-danger(fg-click='reset') Reset
