doctype html
html
    head
        meta(charset='utf-8')
        title Test Runner
        link(rel='stylesheet' href='/jspm_packages/npm/mocha@5.0.1/mocha.css')

    body
        #mocha
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script(src='/js/test.js')
