include /global/mixins/checkbox
include /global/mixins/textbox
include /global/mixins/combo
include /global/mixins/card
div(fg-panel='sport')
    .container
        .card-columns
            +live-card('showTimer')
                .card-header
                    h4.card-title Timer
                ul.list-group.list-group-flush
                    li.list-group-item: +checkbox('Show timer', 'showTimer')
                    li.list-group-item: .btn-group
                        button.btn.btn-info(fg-timer-id='timer1' fg-timer-op='set') Set
                        button.btn.btn-info(fg-timer-id='timer1' fg-timer-op='start') Up
                        button.btn.btn-info(fg-timer-id='timer1' fg-timer-op='down') Down
                        button.btn.btn-info(fg-timer-id='timer1' fg-timer-op='stop') Stop
                        button.btn.btn-info(fg-timer-id='timer1' fg-timer-op='add' fg-timer-counter='40') +40
