include /core/mixins/checkbox
include /core/mixins/textbox
include /core/mixins/combo
include /core/mixins/card
include /core/mixins/timer
div(fg-panel='sport')
    .container
        .row.mb-3: .col-12: +live-card('showScoreboard')
            .card-header
                h4 Scoreboard
            ul.list-group-item: +checkbox('Show', 'showScoreboard')

        .row.mb-3: .col-12: +timer-ui('Main timer', 'showTimer', 'timer1')
            p.card-text Appears in the top right corner

        .row.mb-3: .col-12: .card
            .card-header.py-1: h6.mb-0 Both timers
            .card-body.py-2
                .btn-group.btn-group-sm
                    button.btn.btn-danger(rv-enabled='timer.timer1 | and timer.timer2' rv-on-click='methods.timerOpBoth' fg-timer-op='halt') Halt
                    button.btn.btn-success(rv-enabled='timer.timer1 | and timer.timer2' rv-on-click='methods.timerOpBoth' fg-timer-op='run') Run

        .row: .col-12: +timer-ui('Sub-timer', 'showSubTimer', 'timer2')
            p.card-text Appears below the main timer
