div(fg-component='bug')
    #bug(fg-show='showBug', fg-anim='slide-left', fg-opacity='0.75')
        #logo: img(rv-src='bugLogo')
    span#hashtag(fg-show='showHashtag', fg-anim='fade', fg-opacity='0.75') \#{hashtag}
    span#arbitrary(fg-show='showArbitrary', fg-anim='fade', fg-opacity='0.75') {arbitrary}
