div(fg-component='bug')
    img#bug-logo(fg-show='showBug', fg-anim='fade', fg-opacity='0.75', src='/assets/img/ForgeTV-Long-Light.svg')
    span#hashtag(fg-show='showHashtag', fg-anim='fade', fg-opacity='0.75') \#{hashtag}
    span#arbitrary(fg-show='showArbitrary', fg-anim='fade', fg-opacity='0.75') {arbitrary}
