include textbox

mixin copy-combo(name, model, addon)
    .input-group
        if addon
            .input-group-prepend: .input-group-text= addon
        +textbox-copy(name, model)
        span.input-group-append: button.btn.btn-success(fg-copy-button=model) Set
