include textbox

mixin copy(name, model, addon)
    .input-group
        if addon
            span.input-group-addon= addon
        +textbox-copy(name, model)
        span.input-group-btn: button.btn.btn-success(fg-copy-button=model) Set
