- let title = 'Forge Graphics Dashboard'
html
    head
        title= title
        base(href='/')
        link(rel='stylesheet', href='/output/scss/dash.css')
    body
        h1= title
        ul
            li: a(href='/dash/page/bug') Bug
        #content
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/index')
