- let title = 'Page Test'
html
    head
        title= title
        base(href='/')
    body
        h1= title
        ul
            li: a(href='/dash/page/default') Home
            li: a(href='/dash/page/about') About
        #content
        script(src='/jspm_packages/system.js')
        script(src='/assets/config.js')
        script System.import('/assets/index')
