html
    head
        title #{product} | #{project}
        base(href='/')
        link(rel='stylesheet', href='/output/scss/dash.css')
    body
        h1 #{product} (#{project})
        ul
            li: a(href='/dash/page/bug') Bug
            li: a(href='/dash/page/test') Test
        #content
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash')
