@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Bold.woff2') format('woff2')
    font-weight bold
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-ExtraLightItalic.woff2') format('woff2')
    font-weight 200
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Italic.woff2') format('woff2')
    font-weight normal
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-BoldItalic.woff2') format('woff2')
    font-weight bold
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Bold.woff2') format('woff2')
    font-weight bold
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Regular.woff2') format('woff2')
    font-weight normal
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-LightItalic.woff2') format('woff2')
    font-weight 300
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-BlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-MediumItalic.woff2') format('woff2')
    font-weight 500
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Black.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-ExtraLight.woff2') format('woff2')
    font-weight 200
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Italic.woff2') format('woff2')
    font-weight normal
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Italic.woff2') format('woff2')
    font-weight normal
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Semibold.woff2') format('woff2')
    font-weight 600
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-LightItalic.woff2') format('woff2')
    font-weight 300
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-SemiboldItalic.woff2') format('woff2')
    font-weight 600
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-ExtraLight.woff2') format('woff2')
    font-weight 200
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-UltraBlack.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Semibold.woff2') format('woff2')
    font-weight 600
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-UltraBlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-ExtraLightItalic.woff2') format('woff2')
    font-weight 200
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-UltraBlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-UltraBlack.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Regular.woff2') format('woff2')
    font-weight normal
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-ThinItalic.woff2') format('woff2')
    font-weight 100
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-BlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-UltraBlack.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-ExtraLightItalic.woff2') format('woff2')
    font-weight 200
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-UltraBlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Semibold.woff2') format('woff2')
    font-weight 600
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-MediumItalic.woff2') format('woff2')
    font-weight 500
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-SemiboldItalic.woff2') format('woff2')
    font-weight 600
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-LightItalic.woff2') format('woff2')
    font-weight 300
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-MediumItalic.woff2') format('woff2')
    font-weight 500
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Regular.woff2') format('woff2')
    font-weight normal
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-MediumItalic.woff2') format('woff2')
    font-weight 500
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Light.woff2') format('woff2')
    font-weight 300
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-ExtraLightItalic.woff2') format('woff2')
    font-weight 200
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Bold.woff2') format('woff2')
    font-weight bold
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-UltraBlack.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-UltraBlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Regular.woff2') format('woff2')
    font-weight normal
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-ThinItalic.woff2') format('woff2')
    font-weight 100
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Bold.woff2') format('woff2')
    font-weight bold
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-SemiboldItalic.woff2') format('woff2')
    font-weight 600
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-ThinItalic.woff2') format('woff2')
    font-weight 100
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Black.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-ExtraLight.woff2') format('woff2')
    font-weight 200
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Italic.woff2') format('woff2')
    font-weight normal
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Thin.woff2') format('woff2')
    font-weight 100
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Thin.woff2') format('woff2')
    font-weight 100
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-LightItalic.woff2') format('woff2')
    font-weight 300
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Italic.woff2') format('woff2')
    font-weight normal
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Black.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-BlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-ThinItalic.woff2') format('woff2')
    font-weight 100
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Thin.woff2') format('woff2')
    font-weight 100
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-ExtraLight.woff2') format('woff2')
    font-weight 200
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-UltraBlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Light.woff2') format('woff2')
    font-weight 300
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Regular.woff2') format('woff2')
    font-weight normal
    font-style normal

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-ExtraLightItalic.woff2') format('woff2')
    font-weight 200
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-SemiboldItalic.woff2') format('woff2')
    font-weight 600
    font-style italic

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-UltraBlack.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Thin.woff2') format('woff2')
    font-weight 100
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Light.woff2') format('woff2')
    font-weight 300
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Black.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-BoldItalic.woff2') format('woff2')
    font-weight bold
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Light.woff2') format('woff2')
    font-weight 300
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-BoldItalic.woff2') format('woff2')
    font-weight bold
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-ExtraLight.woff2') format('woff2')
    font-weight 200
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Black.woff2') format('woff2')
    font-weight 900
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Thin.woff2') format('woff2')
    font-weight 100
    font-style normal

@font-face
    font-family 'Acumin Pro'
    src url('/assets/fonts/acumin/AcuminPro-Light.woff2') format('woff2')
    font-weight 300
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-LightItalic.woff2') format('woff2')
    font-weight 300
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-Semibold.woff2') format('woff2')
    font-weight 600
    font-style normal

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-BlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-ThinItalic.woff2') format('woff2')
    font-weight 100
    font-style italic

@font-face
    font-family 'Acumin Pro ExtraCondensed'
    src url('/assets/fonts/acumin/AcuminProExtraCond-BlackItalic.woff2') format('woff2')
    font-weight 900
    font-style italic

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-Bold.woff2') format('woff2')
    font-weight bold
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-BoldItalic.woff2') format('woff2')
    font-weight bold
    font-style italic

@font-face
    font-family 'Acumin Pro SemiCondensed'
    src url('/assets/fonts/acumin/AcuminProSemiCond-Semibold.woff2') format('woff2')
    font-weight 600
    font-style normal

@font-face
    font-family 'Acumin Pro Condensed'
    src url('/assets/fonts/acumin/AcuminProCond-SemiboldItalic.woff2') format('woff2')
    font-weight 600
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-BoldItalic.woff2') format('woff2')
    font-weight bold
    font-style italic

@font-face
    font-family 'Acumin Pro Wide'
    src url('/assets/fonts/acumin/AcuminProWide-MediumItalic.woff2') format('woff2')
    font-weight 500
    font-style italic
