@require 'cg/_variables'
@require 'cg/_bug'

@require 'fonts/_acumin'

*
    box-sizing border-box
    backface-visibility hidden
    background-clip border-box

body
    margin 0
    background transparent
    overflow hidden
    -webkit-font-smoothing antialiased !important
    font-family 'Acumin Pro'
