@require 'fonts/_acumin'

@require 'cg/_variables'
@require 'cg/_bug'
@require 'cg/_lowerThirds'

*
    box-sizing border-box
    backface-visibility hidden
    background-clip border-box

body
    display none
    margin 0
    background transparent
    overflow hidden
    -webkit-font-smoothing antialiased !important
    font-family 'Acumin Pro'

    &.debug
        background #ababab

.fg-hide
    opacity 0
