@require 'fonts/_roboto'

@require 'cg/_variables'
@require 'cg/_bug'
@require 'cg/_lowerThirds'
@require 'cg/_sport'

*
    box-sizing border-box
    backface-visibility hidden
    background-clip border-box
    user-select none

body
    display none
    margin 0
    background transparent
    overflow hidden
    -webkit-font-smoothing antialiased !important
    font-family 'Roboto'

    &.debug
        background #ff00ff

#character-generator
    position absolute
    height 100vh

.mcontainer
    width $width-x
    margin-left $margin-x

.fg-hide
    opacity 0
