$enable-gradients: true;
$enable-shadows: true;

$red: #ec1241;
$orange: #ee9a10;
$yellow: #ffd91a;
$green: #63c719;
$blue: #0fc3df;
$teal: #0cda99;
$pink: #de134d;
$purple: #de13b0;

$gray-dark: #292b2c;
$gray: #464a4c;
$gray-light: #636c72;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;
