@import './variables';
@import 'bootstrap';
@import './_acumin';

html {
    height: 100%;
}

body {
    background: $gray-lighter;
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    font-family: 'Acumin Pro';
}

#loading {
    text-align: center;
    color: $gray-light;
}

#contentCard {
    margin-top: 20px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: $gray-dark;
    color: $gray-lightest;
    padding: 15px 0px;
    border-top: 1px solid $gray-dark;
}

.custom-checkbox {
    margin: 0px;

    &, & > * {
        vertical-align: middle;
        cursor: pointer;
        transition: border-color 0.2s linear, background 0.2s linear, border-radius 0.2s ease-in-out;
    }

    input[type='checkbox'] {
        appearance: none;
        width: 28px;
        height: 28px;
        border: 2px solid $green;
        border-radius: 2px;
        margin-right: 5px;
        outline: none;

        &:hover {
            border-color: darken($green, 10%);
        }

        &:checked {
            background: $red;
            border: none;

            border-radius: 50%;

            &:hover {
                background: darken($red, 10%);
            }
        }
    }
}
