div(fg-component='sport'): .mcontainer
    div(rv-fgshow='showTimer' fg-anim='slide-y' fg-translateY='-10vh' fg-timer='timer1' fg-delay-out='200') --:--
    div(rv-fgshow='methods.and | call showTimer showSubTimer' fg-anim='slide-y' fg-translateY='-6vh' fg-timer='timer2' fg-delay-in='200') --:--
